* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 900px;
    background: #435c26;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}
.centered-element {
    margin-top: 50px; /* Adjust the value as needed */
    /* Your existing styles for the centered element */
}

#info,
#headline {
    text-align: center;
    padding: 10px;
}

#tip_cal{
    background-color: white;
    padding: 35px;
    border-radius: 8px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-label {
    font-family: 'Calibri';
    font-size: 1.3rem;
}

.form-input{
    border: 2px solid black ;
    border-radius: 5px;
}
