* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: #006699;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

#info,
#headline {
    text-align: center;
    padding: 10px;
}
#headline{margin-bottom: 10px;
    text-decoration: underline;

}



#tip_cal{
    background-color: white;
    padding: 35px;
    border-radius: 8px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-label {
    font-family: 'WildWest';
    font-size: 1.3rem;
}

.form-input{
    border: 2px solid black ;
    border-radius: 5px;
}